
/* css */
body{
  color: #2e5266;
  font-family: Corbel;
}

h3 {
  font-size: 40px;
}

.grayband{
  background-color: #d3d0cb;
}

.whiteband{
  background-color: #ffffff;
}

.title {
  text-align: center;
  font-family: Corbel;
  font-size: 85.5px;
  font-weight:575;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
