
/* css */
body{
  color: #2e5266;
  font-family: Corbel;
  font-weight: 700;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
}

.grayband{
  background-color: #d3d0cb;
  padding-top: 2em;
  padding-bottom: 2em;
}

.whiteband{
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.title {
  text-align: center;
  font-size: 7em;
  font-weight: 500;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.piechart{
  padding-left: 50px;
}

.yaleimage{
  padding-top: 90px;
  padding-left: 80px;
}
